<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <a href="adminhome">home</a>
    <a href="admin_view_parents">View parents</a>
    <a href="admin_view_babies">View babies</a>
    <a href="admin_manage_place">Manage Place</a>
    <a href="admin_manage_ashaworker">Manage AshWorker</a>
    <a href="admin_manage_vaccination">Manage Vaccinations</a>
    <a href="admin_manage_notifications">Manage Notifications</a>
    <a href="admin_manage_babyvideos">Manage Baby Videos</a>
    <a href="admin_manage_agegroup">Add Age Group</a>
    <a href="/">Logout</a>
