{% include 'adminheader.html' %}

<center>
    <div class="img-div"></div>
    <h3>View Babies</h3>
    <form action="" method="post">
    <table class="table table-striped tbl-new bg-light shadow" style="max-width: 1200px;">
        <tr>
            <th>Parent</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Baby</th>
            <th>Relation</th>
            <th>Gender</th>
           

        </tr>
        {% for row in data['res'] %}
        <tr>
            <td>{{ row['fparent'] }}{{ row['lparennt'] }}</td>
            <td>{{ row['phone'] }}</td>
            <td>{{ row['email'] }}</td>
            <td>{{ row['fbaby'] }}{{ row['lbaby'] }}</td>
            <td>{{ row['relation'] }}</td>
            <td>{{ row['gender'] }}</td>
            <td><a href="admin_view_vaccination?bid={{ row['babie_id'] }}">View Vaccination</a></td>
           

        </tr>
        {% endfor %}
    </table>
</form>
</center>

{% include 'footer.html' %}